<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchen.mybatis.integrated.dal.dao.AuthorMapper">
  <resultMap id="BaseResultMap" type="com.yangchen.mybatis.integrated.dal.dao.Author">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
  </resultMap>
  <sql id="Base_Column_List">
    aid, author_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from author
    where aid = #{aid,jdbcType=INTEGER}
  </select>
</mapper>